body {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

#img-div img{
    height: 500px;
    
}

#title h1, h4{
    text-align: center;
}

#title {
    padding-top: 50px;
    padding-bottom: 20px;
}

#image {
    margin: 0 auto;
    display: block;
    width: 60%;
}