body {
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

@media only screen and (max-width: 600px){
    #image {
       max-width: 60%;
    }
    
}

#title h1, h4{
    text-align: center;
}

#title {
    padding-top: 50px;
    padding-bottom: 20px;
}

#image {
    margin: 0 auto;
    display: block;
    max-width: 60%;
    border-radius: 5px;
}
#img-div p{
    text-align: center;
    padding-top: 5px;
}
#tribute-info {
    
    color: black;
    width: 80%;
    margin: 0 auto;
    display: block;
    padding:10px 50px;
    border-radius: 5px;
}
#tribute-info p{
    line-height: 40px;
    padding-top: 20px;
}
#tribute-link{
    color: white;
}
#copyright{
    padding-top: 50px;
    text-align: center;
    color: rgb(167, 20, 20);
}